@import '@styles/index';

.formItem {
  @extend %flex-row;
  align-items: center;

  & p {
    width: 600px;
    color: white;
    margin-left: 50px;
  }

  & + & {
    margin-top: 30px;
  }

  &__description {
    @extend %flex-column;
    position: relative;
  }

  &__note {
    font-size: 10px;
    position: relative;
    top: 35px;
  }
}

.beforeNote {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
